name: Validate renovate config

on:
  pull_request:
  push:
    branches: main

env:
  CACHE_DIR: /tmp/.npm-cache

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      CI: true

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22.x
      - uses: actions/cache@v4
        with:
          path: ${{ env.CACHE_DIR }}
          key: ${{ runner.os }}-node
      - name: Validate renovate config
        run: |
          for file in *.json*
          do
            if [[ "$file" == "package.json" || "$file" == "renovate.json" ]]; then
              echo "Skip: $file"
              continue
            fi
            echo "Validate: $file"
            RENOVATE_CONFIG_FILE=${file} npx --package renovate -c 'renovate-config-validator'
          done
